

*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}
body{
      font-family: "Poppins", sans-serif !important;
}






/* cheap-flight-deals */
.cheap-dep-main{
    background-color: #FFFFFF;
    border-radius: 8px ;
    padding: 10px ;
    transition: 0.5s ;
    &:hover{
        box-shadow: 3px 4px 10.4px 0px #0000001A;
    }
}
.cheap-date{
    p{
        font-size: 16px ;
        font-weight: 600 ;
        color: #f1a708 ;
    }
}
.cfd-left{
    .xyz{
       font-size: 16px;
    font-weight: 600;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
           white-space: nowrap;
    }
    .toronto{
    color: #241D60;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
           white-space: nowrap;
    }
}
.hr59w6, .hr59w7 {
    left: 50%;
    top: 40%;
}

.hr59w6 {
    border-bottom: 1px dashed #9D9D9D;
    height: 2px;
    position: relative;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hr59w6:before {
    left: 0;
}
.hr59w6:after {
    right: 0;
}
.hr59w6:after, .hr59w6:before {
    background: #241D60;
    border-radius: 20px;
    content: "";
    height: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 7px;
}
.hr59w7 {
    background: #fff;
    padding: 2px;
    position: absolute;
    transform: translate(-50%, -45%);
}
.hr59w5 {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #585858;
}
.hr59w4 {
    color: #1E8F01;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
.view-btn{
    width: 100% ;
    a{
        width: 100% ;
        text-decoration: none ;
        padding: 10px 20px ;
        border-radius: 10px ;
        background-color: #EDEAFF ;
        color: #5948DB;
        font-size: 20px ;
        font-weight: 500 ;
        display: flex ;
        justify-content: center;
        align-items: center;
    }
}

/* round-trip-section */
.raw-slide2{
    background-color: #FFFFFF;
    border-radius: 20px ;
    box-shadow: 3px 4px 10.4px 0px #0000001A;

}
.slide2 .owl-nav {
    position: absolute;
    top:40%;
    width: 100% ;
    right:0 ;
    display: flex;
    left: 0 ;
    justify-content: space-between;
}
.slide2 .owl-nav .owl-next, .owl-prev{
    width: 30px ;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #ffffffc2 !important;
    border: 1px solid #EDEDED !important;
    border-radius: 4px ;
}
.raw-destination{
    .provide{
        font-size: 15px ;
        font-weight: 400 ;
        color: #7F7F7F;
    }
    .unlock{
        font-size: 15px ;
        font-weight: 500 ;
        color: #484848;
        a{
            font-weight: 600 ;
            text-decoration: none ;
            color: #177200;
        }
       
    }
}
.raw-destination{
    h3{
        font-size: 28px ;
        font-weight: 600 ;
    }
}
.slide-image{
    width: 100% ;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.slide-heading h4{
    font-size: 18px ;
    font-weight: 500 ;
    color: #241D60 ;
    max-width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
}
.slide-heading .slide-date{
     color: #7D7D7D;
     font-size: 12px ;
     font-weight: 400 ;
}
.slide-heading .slide-dest{
    font-size: 12px ;
    font-weight: 400 ;
    color: #7D7D7D ;
}
.slide-txt{
    padding:15px 10px ;
}
.slide-price .dollar-price2{
    font-size: 18px ;
    font-weight: 600 ;
    color: #1E8F01 ;
}
/* .round{
    font-size: 10px ;
    font-weight: 500 ;
    color: #7D7D7D ;
} */

.slide2 .owl-nav {
    position: absolute;
    top:48%;
    width: 100% ;
    right:0 ;
    display: flex;
    left: 0 ;
    justify-content: space-between;
}
.slide2 button.owl-next {
    position: absolute;
    right: -15px;
}
.slide2 button.owl-prev {
    position: absolute;
    left: -15px ;
}
.slide2 .owl-nav .owl-next, .owl-prev {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffffff7 !important;
    border: 1px solid #1e8f017a !important;
    border-radius: 50%;
}
/* .slide2 .owl-nav .owl-prev{
    display: none ;
} */
.owl-carousel .owl-stage-outer{
    padding: 20px 0;
}
.fares-txt{
    p{
       font-size: 12px ;
       font-weight: 300 ;
       color: #000000 ; 
       span{
        color: #000000;
        font-weight: 600;
       }
    }
}


/* call-banner-sec */


.call-banner-img{
    background-image: url(../images/homepage/call_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px ;
    overflow: hidden;
    padding: 30px ;
}
.need-help{
    font-size: 26px ;
    font-weight: 500 ;
    color: #FFFFFF;
}
.agent{
    font-size: 14px ;
    font-weight: 500 ;
    color: #FFFFFF;
}
.call-main{
   p{
     font-size: 16px ;
    font-weight: 600 ;
    color: #FFFFFF;
   }
}
.call-main {
    a {
        background-color: #FFFFFF !important;
        padding: 7px 21px ;
        border-radius: 50px ;
        /* border-image-source: linear-gradient(90.79deg, #F9F3F3 2.58%, #E6E5E5 98.85%); */
        font-size: 25px ;
        font-weight: 500 ;
        color: #6864F7 ;
        text-decoration: none ;
    

        box-shadow: 4px 7px 5.7px 0px #42424240 inset ,-5px -7px 5.7px 0px #42424240 inset , 3px 7px 4px 0px #00000026 inset;

       
     span{
        width: 35px ;
        img{
            width: 100% ;
        }
     }
    }
}


/* top-destinations */
.venice-main{
    padding: 10px ;
    gap: 10px ;
    background: linear-gradient(95.35deg, #FFFFFF 66.83%, rgba(227, 223, 254, 0.4) 98.72%);
    border-radius: 15px ;
    border: 1px solid #E6E3FE;
}
.venice-img {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    transition: 0.5s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.venice-img:hover {
    border-radius: 10px;
}
.venice-txt{
    width: 100% ;
    h4{
        font-size: 14px ;
        font-weight: 600 ;
        color: #241D60 ;
        max-width: 100%;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: normal;
    }
    p{
        font-size: 12px ;
        font-weight: 400 ;
        color: #241D60 ;
        max-width: 90%;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: normal;
    }
}

.button__circle {
    width: 30px ;
    height: 30px ;
    border-radius: 50% ;
    border: 1px solid #5948DB ;
    position: absolute;
    bottom: 10px ;
    right: 10px ;
    display: flex; 
    justify-content: center ;
    align-items: center ;
    transition: 0.5s ;
   overflow: hidden;
    &:after{
        content: "";
        width: 0px ;
        height: 0px ;
        border-radius: 50%;
        background-color: #5948DB ;
        position: absolute;
        left: 50%;
        transition: 0.5s ;
        transform: translateX(-50%);
        bottom: -10px ;
        z-index: 2;
    }
}
.button__circle{
    span{
        
        z-index: 5 ;
    }
}
.button1:hover .button__circle:after{
    width: 40px ;
    height: 40px ;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}


.button1:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button1:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

.flight-deals-txt{
    p{
        font-size: 15px ;
        font-weight: 400 ;
        color: #343434 ;
    }
    h4{
        font-size: 20px ;
        font-weight: 500 ;
        color: #303030;
    }
}
.rawfares-grp-img{
    width: 100% ;
    img{
        width: 90% ;
    }
}


/* footer-section */

.footer-top{
    background-color: #FFFFFF;
   border: 8px solid #29206D;
   border-radius: 30px ;
  
}
.email-icon{
    top: 10px ;
    left: 0px ;
}
.mail-sec{
    width: 100% ;
    background-color: #F6F4FF ;
    border-radius: 20px ;
    padding: 25px;
}
.input-main{
    input{
        width: 100% ;
        border: none ;
        padding: 8px 30px;
        background: none ;
        border-bottom: 1px solid #505050;
        &:focus{
            outline: none ;
        }
        &::placeholder{
            font-size: 16px ;
            font-weight: 400 ;
            color: #505050 ;
            
        }
    }
}
.subscribe-btn{
    a{
        background-color: #4D36FF ;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% ;
        height: 48px ;
        border-radius: 30px ;
        font-size: 16px ;
        font-weight: 400 ;
        color: white ;
        text-decoration: none ;
    }
}
.footer-top-main{
background: linear-gradient(180deg, hsla(0, 10%, 96%, 1) 50%, hsla(247, 55%, 28%, 1) 50%);
}
.footer-heading{
    margin-top: 20px ;
    h4{
        font-size: 24px ;
        font-weight: 600 ;
        color: #FFFFFF ;
        position: relative;
        padding-bottom: 22px ;
        &:after{
            content: "";
            position: absolute;
            bottom: 10px ;
            left: 0 ;
            width: 71px ;
            height:5px ;
            border-radius: 20px ;
            background: linear-gradient(90deg, #413886 14.28%, #FFFFFF 100%);
        }
    }
}
.footer-bottom-sec{
    background-color: #29206D ;
    margin-top: -1px ;
}
.footer-list{
    padding-left: 20px ;
    display: flex ;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    li{
        color: white ;
        width: 16.6%; 
        font-size: 16px ;
        font-weight: 400 ;
        margin-bottom: 20px ;
        transition: 0.5s ;
        a{
            color: #FFFFFF;
        }
    }
}
.footer-list li:hover {
    font-weight: 500;
}
.locate-txt{
    p{
        font-size: 16px ;
        font-weight: 400 ;
        color: #FFFFFF;
    }
}
.locate{
    width: fit-content;
}
.calling{
    width: fit-content;
}
.social-media ul{
    display: flex;
    justify-content: end;
    align-items: center ;
    gap: 15px;
    li {
        list-style: none ;
        a{
            width: 30px ;
            height: 30px ;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: 0.5s ;
            outline: 5px solid #4e36ff00 ;
        }
    }
}
.social-media ul li a:hover{
    outline-color:#4d36ff  ;
}
.copyright-txt{
    border-top: 1px solid #FFFFFF;
    padding: 20px 0;
   
    p{
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 400 ;
        line-height: 20px ;
    }
}
.talk-sec{
    display: flex ;
    justify-content: space-between;
    align-items: center;
}


/* callbanner-popup */

.phone-only{
    font-size: 14px ;
    font-weight: 600 ;
    color: #FFFFFF ;
}
.expert{
    font-size: 12px ;
    font-weight: 400 ;
    color: #FFFFFF;
}
.phone-deals-inner{
   background-color: #5948DB;
    padding: 10px;
    border-radius: 10px;
    border-left: 10px solid #29206d7a;
    position: relative;
    overflow:hidden ;
    padding-right: 25px ;
}
.phone-img{
    width: 73px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(20%, -50%);
    img{
        width: 100% ;
    }
}
.phone-txt{
    p{
        font-size: 20px ;
        font-weight: 600 ;
        color: #FFFFFF;
    }
}
.cross{
   top: 5px ;
   right: 5px ;
   width: 18px ;
   height: 18px ;
   display:flex ;
   justify-content: center;
   align-items: center;
  
}
.cross i{
    font-size: 16px ;
}
.phone-deals{
  width: fit-content;
  position: fixed;
  bottom: -100px;             /* Hidden below the screen */
  left: 0;
  color: white;
  text-align: center;
  z-index: 9999;
  transition: bottom 0.5s ease; /* Smooth transition */
}
.phone-deals.show {
  bottom: 15px; /* Slide into view */
}

.owl-prev.disabled,
.owl-next.disabled{
    opacity: 0 ;
    pointer-events: none ;
}

@media screen and (max-width:992px) {
     .phone-deals-inner .phone{
        padding-right: 20px ;
        justify-content: flex-end !important;
    }
    .rawfares-grp-img{
        img{
            width: 100% ;
        }
    }
    .call-banner-img {
    border-radius: 8px;
    padding: 15px;
    background-image: url(../images/homepage/mobbanner.png) !important;
}
.need-help{
    font-size: 24px ;
}
    .raw-destination{
        h3{
            font-size: 26px !important;
        }
    }
  
     .footer-list{
    li{
        width: 33.3% ;
    }
 }
 .locate{
    min-width: 48%;
    max-width: 48% ;
 }
 .calling-txt{
    min-width: 48%;
    max-width: 48% ;
 }
 .social-media{
    min-width: 48% ;
    max-width: 48% ;
 }
 /* .need-help{
    font-size: 23px ;
    text-shadow: 2px 2px 2px black;
 }
 .agent{
    font-size: 13px ;
    text-shadow: 2px 2px 2px black;
 }
 .call-main{
    p{
        font-size: 15px ;
    text-shadow: 2px 2px 2px black;
    }
 } */
 .talk-sec{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px ;
 }
 .social-media ul{
    justify-content: flex-start;
 }
 .call-main{
    a{
        font-size: 23px ;
        span{
            width: 32px ;
        }
    }
}
.phone-img{
    transform: translate(75%, -50%) !important;
}
}

@media screen and (max-width:576px) {
 .footer-list{
    li{
        width: 100% ;
       
    }
 }
 .raw-destination{
    .provide{
        font-size: 12px ;
    }
 }
 .view-btn{
    a{
        font-size: 15px ;
    }
}
 .need-help{
    
    font-size: 10px ;
    max-width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
 }
 .agent{
    font-size: 7px ;
     max-width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
 }
 .need-txt{
    padding: 10px 0;
 }
 .girl-with-bag{
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    height: 100% ;
 }
 .call-main{
    p{
                    font-size: 16px;
            max-width: 100%;
            margin-bottom: 10px !important;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            white-space: normal;
    }
    a{
       font-size: 15px;
            padding: 7px 14px;
            gap: 2px;
            width: 65%;
            font-weight: 600;
        span{
            width: 23px ;
        }
    }
 }
 .hr59w4{
    font-size: 18px ;
 }
 .cheap-date{
    p{
        font-size: 15px ;
    }
 }
 .talk-sec{
    flex-direction: column !important; 
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 20px ;
 }
.raw-destination{
    h3{
        font-size: 22px !important;
    }
}


.slide2 button.owl-next {
    position: absolute;
    right: -10px;
}
.slide2 button.owl-prev {
    position: absolute;
    left: -10px;
}
.flight-deals-txt{
    p{
        font-size: 15px ;
    }
}
.venice-txt{
    p{
        padding-right: 25px ;
        max-width: 100% ;
    }
}

    .call-banner-img {
        border-radius: 8px;
        padding: 15px;
        background-image: url(../images/homepage/mobbanner.png) !important;
    }

 .locate{
    min-width: 100%;
    
 }
 .calling-txt{
    min-width: 100%;
    
 }
 .social-media{
    min-width: 100% ;
    
 }
 .dollar-price{
    .raw-price{
        font-size: 20px ;
    }
 }
 

    .raw-destination .subscribe{
       font-size: 20px !important;
    }
 }

/* .call-main{
    a{
        font-size: 20px ;
        span{
            width: 30px ;
        }
    }
} */
    /* .phone-img {
        transform: translate(-50%, -50%);
        left: calc(100% - 17%);
        top: 50%;
    } */
   
    .phone-txt {
        p {
            font-size: 18px;
        }
    }
    .phone-only {
    font-size: 12px;
    }





    .extra-content{
    height: 0px ;
    width: 100% ;
    overflow: hidden;
    transition: 0.5s ;
}
.extra-content.show-content{
height: auto ;
}
.less{
    display: none ;
}
.view-btn.show-less .more{
    display: none ;
}
.view-btn.show-less .less{
    display: block ;
}
.view-btn a:hover{
    cursor: pointer ;
}