[genuitec-file-id="wc1-64"],[genuitec-lp-path="/HolidayBreakz_CA/src/main/webapp/resources/css/loader.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

body
{
	margin: 0;
	padding: 0;
	background: #FFF;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.pwait
{
    text-align:center;
    color:#303030;
    font-weight:600;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:24px;
	padding:10px 0;
	margin-top:200px;
}
.wline
{
    text-align:center;
    color:#303030;
    font-weight:500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    padding:5px 0;
}
p
{
	text-align:center;
    color:#505050;
    font-weight:500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
	padding:0;
	width:80%;
}
.loader
{
	position: absolute;
	top:150px;
	left:50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border-radius:6px;
	border: 3px solid #F1A501;
	animation: animate 2s linear infinite;
} 

.loader:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#F1A501;
	animation: animateBg 2s linear infinite;
}

@keyframes animate
{
	0%
	{
		transform: translate(-50%, -50%) rotate(0deg);
	} 

	25%
	{
		transform: translate(-50%, -50%) rotate(180deg);
	} 

	50%
	{
		transform: translate(-50%, -50%) rotate(180deg);
	} 

	75%
	{
		transform: translate(-50%, -50%) rotate(360deg);
	} 

	100%
	{
		transform: translate(-50%, -50%) rotate(360deg);
	} 
}

@keyframes animateBg
{
	0%
	{
		height: 0;
	} 

	25%
	{
		height: 0;
	} 

	50%
	{
		height: 100%;
	} 

	75%
	{
		height: 100%;
	} 

	100%
	{
		height: 0;
	} 
}