@charset "utf-8";
/* CSS Document */

#mainheader {
	padding: 8px 0px;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
	box-shadow: 0 0 6px #0000004D;
	background: rgb(10, 45, 114);
}

@media (max-width: 1023px) {
#mainheader {
	padding: 6px 0px;
	background: rgb(10, 45, 114);
}
}
#mainheader .logo_home {
	display: block;
	float: left
}

#mainheader .header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between
}
#mainheader .logo {
	float: left;
	margin-top: 4px
}
#mainheader .logo img {
	width: 163px
}

@media (max-width: 576px) {
#mainheader .logo img {
	width: 140px
}
}

@media (max-width: 359px) {
#mainheader .logo img {
	width: 125px
}
}
#mainheader .menubar {
	width: auto;
	float: right;
	padding-top: 14px;
	padding-right: 50px;
}

@media (max-width: 1023px) {
#mainheader .menubar {
	display: none
}
.New-country-flag {display: none !important;}	
	
}
#mainheader .menubar ul {
	list-style: none;
	padding: 0px;
	display: flex
}
#mainheader .menubar ul li {
	padding: 0px 20px
}
#mainheader .menubar ul li a {
	color: #fff;
	text-decoration: none;
	padding-bottom: 20px;
	border-bottom: 3px solid transparent
}
#mainheader .menubar ul li a.active {
	border-bottom: 3px solid #FF6B00;
	color: #FF6B00
}
#mainheader .tfn-number {
	text-align: right;
	color: #fff;
	font-size: 12px;
	font-weight: 500
}

@media (max-width: 576px) {
#mainheader .tfn-number {
	font-size: 11px;
	padding-top: 0px
}
}
#mainheader .tfn-number a {
	font-size: 18px;
	color: #FFf;
	text-decoration: none;
	font-weight: 700;
	line-height: 20px
}

@media (max-width: 576px) {
#mainheader .tfn-number a {
	font-size: 15px
}
.mbn_number{
	margin-top: 3px;
		}
.container {    
    /* padding: 0px 10px !important; */
  }
	
}

@media (max-width: 359px) {
#mainheader .tfn-number a {
	font-size: 13px
}
}
#mainheader.homeheader {
	background: rgba(3,50,145,0.6);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 2;
	box-shadow: none;
}


#mainheader.homeheader .tfn-number {
	padding-top: 6px;
	color: #fff
}
#mainheader.homeheader a {
	color: #FF6B00
}
#mainheader.homeheader .logo_home {
	display: block
}
#mainheader.homeheader .innerlogo {
	display: none
}

#mainheader .menubar ul li a:hover {
	border-bottom: 3px solid #FF6B00;
	color: #FF6B00
}
#mainheader .tfn-number a:hover {
	color: #FF6B00;
	text-decoration: none
}

.float-last {
	float: right
}
/***********New-dropdown-country flag**********/

.New-country-flag {
	margin: 1px 0px 5px 15px;   
	cursor: pointer;
	width: 80px;
	float: right;
	
}

.New-sub_header_link { 
	color: #fff; 
	font-size: 15px !important; 
	font-weight: bold; 
	background-color: #149db2; 
	padding: 7px 8px; 
	margin-top: 2px;	
} 

.New-sub_header_link img {
	max-width: 20px;
	max-height: 20px;
	vertical-align:middle !important;
	}
	
	
	
.New-down_arw {
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	position: relative;
	top: -2px;
	margin-left: 6px;	
}
.New-country-flag:hover .New-dropdown-country {
	max-height: 200px;
}
.New-dropdown-country {
	position: absolute;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
	display: block;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.6s ease-in;
	top: 48px;
	right: 56px;
	
}
.New-dropdown-country a {
	color: #000;
	text-decoration: none;
	background-color: #fff;
	padding: 5px 10px !important;
	display: flex;
	font-size: 14px;
}
.New-dropdown-country {
	display: block;
	border-bottom: none !important;
}
.New-dropdown-country a:hover {
	background-color:#F8881F;
	color: #333;
}
.New-dropdown-country a img {
	max-width: 20px;
	max-height: 20px;
	margin-right: 5px;
}


/***********New-dropdown-country flag close**********/

/********stiky header************/
.stricky-fixed {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
	border-radius: 0;
}
@media (min-width:320px) and (max-width:479px) {

.stricky-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
	border-radius: 0;
}
/* .airlineBanner {margin-top: 45px;}*/
.bannerBox {margin-top: 45px;}
.blog-head {margin-top: 45px;}	
}

@media (min-width:360px) and (max-width:639px) {

.stricky-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
	border-radius: 0;
}
/* .airlineBanner {margin-top: 45px;} */
.bannerBox {margin-top: 45px;}
.blog-head {margin-top: 45px;}	
}



